<!--<header>-->
  <%= link_to 'Log out', login_logout_path, method: :delete %>
<!--</header>-->

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<h1>Games:</h1>
<ul>
    <% @user.games.each do |game|%>
        <li><%= link_to game.name, game_path(game.id) %></li>
    <% end %>
</ul>
<br>
<%= link_to 'Add Game', new_game_path %>
<br>


<%= link_to 'Edit Profile', edit_user_path(@user) %>

<br>

<%= link_to 'Home', games_path(@user)%>
