<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- <p id="notice"><%= notice %></p> -->
<div class="icon-bar">
  <a class="active" href="#"><img class='logo'></a>
  <a href="#"><img class='nintendo'></a>
  <a href="#"><img class='playstation'></a>
  <!--<a href="#"><img class='windows'></a>-->
  <a href="#"><img class='xbox'></a>
    <%= link_to '<i class="fa fa-user" style="font-size:30px;"></i>'.html_safe, user_path(session[:user_id]) %>
    <%= link_to '<i class="fa fa-sign-out" style="font-size:30px;"></i>'.html_safe, login_logout_path, method: :delete  %>
</div>


<div id="columns">

    <% User.find(session[:user_id]).not_my_games.each do |game| %>

        <figure>
            <img src=<%=game.description %> >
            <figcaption>
                <%= game.name %>
            </figcaption>
            <figcaption>
              <!-- <%= button_tag(:class => "button button1", action: 'new_like', id: game.id) do %> -->
              <%= button_tag new_like_path(game.id) %>
                <i class='fa fa-thumbs-up'></i>
              <% end %>
              <%= button_tag( :class => "button button2") do %>
                <i class="fa fa-thumbs-down"></i>
              <% end %>

            </figcaption>
        </figure>

    <% end %>
</div>


<br>

<!--<%= link_to 'New Game', new_game_path %>-->
