<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Image:</strong>
  <br>
  <%= image_tag @game.description, style: 'width: 20%; height: 20%' %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', user_path(@game.user_id) %>
